<!-- Navigation -->
<nav>
    <div id="logo"><img></div>
    <div class="flex-row">
        <a>Find Parking Now</a>
        <a>How it Works</a>
        <a>List your Spot</a>
        <button id="sign-up">Sign Up</button>
        <button id="log-in">Log In</button>
    </div>
</nav>
<!-- Search Functionality -->
<div id="search">
    <div id="submission">
        <input type="text" name="search" placeholder="Search by Address">
        <input type="submit" name="submit" aria-label="Search">
    </div>
    <div id="filters">
        <input type="time">
        <input type="range">
    </div>
</div>
<!-- Most Popular Section -->
<div id="most-popular" class="highlight-reel">
    <div class="cards">
        <div class="card"><img src=""></div>
        <div class="card"><img src=""></div>
        <div class="card"><img src=""></div>
    </div>
</div>